logs
*.log
npm-debug.log*
pnpm-debug.log*

**/node_modules/
.DS_Store
coverage
*.local

/cypress/videos/
/cypress/screenshots/

**/.vscode/
!.vscode/extensions.json
.idea

**/__pycache__/
**/.venv/

**/.env
server/db/db-files/
